*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
html{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar{
    display: none;
}
    

body{
    background: black;
}


.header{
    padding: 30px 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 999;
    box-sizing:border-box;
    top: 0;
   

}
.header .he{
    height: 50px;

}
.navbar-list{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.navbar-link:link,.navbar-link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-style: bold;
    font-size: 15px;
    font-weight: 50;
    color: #fff;
    transition: all 0.3s;
}
section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(8, 134, 134) , black);
    box-sizing: border-box;
}
.navbar-link:hover,.navbar-link:active{
    color: cyan;
    text-shadow: 2px 2px 2px cyan;
}
#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(8, 134, 134) , black);
}
.mobile-navbar-btn{
   display: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
}
.mobile-nav-icon{
    width: 40px;
    height: 40px;
    color: #fff;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
}
#home{
    width: 100%;
    height: 95;
    padding: 0;
    margin-top: 50px;
    top: 0px;
    background: linear-gradient(to top, rgb(12, 143, 143), black);
}

.parent{
    width: 100%;
    height: 38vw;
    margin-top: 5vw;
    margin-left: 0%;
}
.intro{
    width: 50vw;
    height: 40vw;
    margin-top: 3vw;
    margin-left: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ddd;
    float: inline-start;
    padding-top: 50px ;
    
    
}
.intro h1{
    font-size: 6vw;
    margin-top: 5vw;
    color: cyan;

    text-shadow: 3px 3px 2px #ddd;

   
}
.intro h2{
    font-size: 3vw;
    color: #ddd;
}
.intro h3{
    font-size: 2vw;
    color :orange;
}
.intro p{
    font-size: 2vw;
    margin-top: 0vw;
    
}
.download{
    margin-top: 2vw;
}
.intro a{
    width: 3vw;
    height: 7vw;
    background: linear-gradient(to top, cyan, rgb(233, 232, 232));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    transition: 03.ms;
    color: black;
    text-decoration: none;
    padding: 5px ;
    border: 1px solid #ddd;
   
}
.intro a:hover{ 
    border-left:1px solid #ddd;
    border-right: 1px solid #ddd;  
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    box-shadow: 5px 7px 20px 5px cyan;
}
.pic-main{
    width: 30vw;
    height: 30vw;
    margin-right: 6vw ;
    margin-top: 120px;
    float: right;
    border-radius: 50%;
    background: cyan;
    padding:7px;
    box-shadow: 4px 4px 30px 30px rgb(15, 139, 139);
    
}
.social_link{
    display: flex;
    width: auto;
    margin-top: 10vw;
    align-items: center;
    justify-content: center;
}
.fa {
    padding: 2vw;
    font-size: 30px;
    width: 7vw;
    text-align: center;
    text-decoration: none;
    margin: 10px 12px;
    border:3px solid #ddd;
    border-radius: 5px;
  }

.fa:hover {
    border: 3px solid cyan;
    box-shadow: 3px 3px 3px 3px cyan;
}
.fa-facebook {
    background: transparent;
    color: white;
  }
  .fa-youtube {
    background:transparent;
    color: white;
  }
  
  .fa-instagram {
    background: transparent;
    color: white;
  }

/*about*/
#about{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin-top: 50px;
    top: 0;
    background: linear-gradient(to top, rgb(8, 100, 100), black);
    overflow: hidden;
}
.notice{
    text-align: right;
    color:#ddd;
    margin-right: 3%;
    font-family: sans-serif;
    font-size: medium;
    margin-top: 75px;

}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.aboutpic{
    width: 35%;
    height: 85vh;
    margin-left: 40px;
    float: inline-start;
    box-sizing: border-box;
    border-radius: 30px;    
}
.aboutme{
    width: 50%;
    height: 70vh;
    margin-right: 20px;
    float: right;
    overflow: hidden;
    align-items: center;
    justify-content: baseline;
}
.hello{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    color: cyan;
    text-shadow: 3px 3px 3px cyan;
    padding: 3px;
    margin-top: 3vw;
}
.myname{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    color: orange;
    text-shadow: 3px 3px 3px orange;
    padding: 3px;
}
.main-content{
    color : #ddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    padding: 3px;
}
.heading{
    color: orange;
    font-size: 2vw;
    padding: 3px;
}
 
ul li{
   
    color: #ddd;
    padding: 3px;
}


/*Galary*/

#galary{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin-top: 50px;
    top: 0;
    background: linear-gradient(to top, rgb(8, 100, 100), black);
    overflow: hidden;
    overflow-y: scroll ;
}
 .g-notice{
    text-align: right;
    color:#ddd;
    margin-right: 3%;
    font-family: sans-serif;
    font-size: medium;
    margin-top: 60px;

}
.note{
    color :red;
    font-style: bold;
    margin-left: 8px;
}

.videos{
    width: 100%;
    height: 30vh;
    background: transparent;
    border-top: 2px solid orange;
    overflow: hidden;
    display: flex;
    }
.vidx{

       
    width: 24vw;
    height: 20vh;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px 5px orange;
        margin: 4vw;
        overflow: hidden;
        display: flex;
    }
    .vidx:hover, .vidx:active{
        cursor: pointer;
        box-shadow: 2px 2px 5px 5px cyan;
    }

    .videot{
            
        width: 25vw;
        height: 20vh;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px 5px orange;
        overflow: hidden;
        float: left;
    }
    .videot:hover, .videot:active{
        box-shadow: 2px 2px 5px 5px cyan;
    }
   
    .shorts{
        width: 100%;
        height: 50vh;
        display: flex;
       overflow: hidden;
       overflow-y: hidden;
     
       
    }
    .short-video{
        width: 25vw;
        height: 40vh;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px 5px orange;
        margin: 4vw;
        overflow: hidden;
    }
    .short-video:hover,.short-video:active{
        box-shadow: 2px 2px 5px 5px cyan;
        cursor: pointer;
    }
    .reel{
            
        width: 100%;
        height: 40vh;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px 5px orange;
        overflow: hidden;
        background: cover ;
    }
  
   
    .player{
        z-index: 100;
        width: 100%;
        height: 100vh;
        position:fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.8);
        display: none;
    }
    .player video{
        margin-top: 20px;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px solid #fff;
    }
    span{
        position: absolute;
        top: 50px; right: 10px;       
        color: #ddd;
        font-size: 5vw;
        float:right;
        cursor: pointer;
    
    }
    .player2{
        z-index: 100;
        width: 100%;
        height: 100vh;
        position:fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.8);
        display: none;
    }
    .player2 video{
        margin-top: 20px;
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px solid #fff;
    }



    /*project*/

    #project{
        width: 100%;
        height: 100vh;
        padding: 0;
        margin-top: 50px;
        top: 0;
        background: linear-gradient(to top, rgb(8, 100, 100), black);
        overflow: hidden;
        overflow-y: scroll ;
    }

    .p-notice{
        text-align: right;
        color:#ddd;
        margin-right: 3%;
        font-family: sans-serif;
        font-size: medium;
        margin-top: 60px;
    
    }
    .project-link{
        width: 30vw;
        height: 30vh;
        margin: 20px;
        border-radius: 15px;
    }
    .project-link:hover,.project-link:active{
        rotate: -15deg;
        width: 25vw;
        height: 25vh;
    }
    .center{
        width: 100%;
        height: fit-content;
        border-top: 2px solid orange;
    
    }

    /*contact*/
    #contact{
        width: 100%;
        height: 100vh;
        padding: 0;
        margin-top: 50px;
        top: 0;        
        background: linear-gradient(to top, rgb(8, 100, 100), black);
        overflow: hidden;
        overflow-y: scroll ;
    }

   
    .cc{
        width: 100%;
        height: 85vh;
        border-top: 2px solid orange;
        background-color:#000;
        color: #ddd;
    }
    .textani{
        width: 100%;
        height: 40%;
        float: left;
        box-sizing: border-box;
        position: absolute;
        align-items: center ;
        justify-content: center;
        
    }
    .textani ul{
        list-style-type: none;
        margin-left: 2%;
    }
    
    .textani li{
        font-size: 2vw;
        margin-top: 20px;
        text-align: center;
    }
    .details_number{
      
        margin-top: 41.8vh;
        width: 100%;
        height: 50%;
        box-shadow: 5px 5px 20px 20px cyan;
       }
       .detail-c{
        float: left;
        background: linear-gradient(to top , rgb(4, 95, 95),black);
        width: 50%;
        height:45.5vh;
        align-items: center;
        justify-content: center;
        }
   
       
       
    .detail-c header{
        align-items: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 3vw;
        text-decoration: underline;
        font-style: bold;
        text-align: center;


    }
    .na {
        padding: 5px;
        font-size: 30px;
        width: 3vw;
        
        text-decoration: none;
        margin: 10px 12px;
        border:3px solid #ddd;
        border-radius: 5px;
        border: 3px solid cyan;
        box-shadow: 3px 3px 3px 3px cyan;
        color: cyan;
       
    }
    .na-number {
        background:transparent;
        color: cyan;
        float: left;
    }
      
      
    .na-mail {
        background: transparent;
        color: cyan;
        float: left;

      }  
     .detail-c h3{
        width: 100%;
        font-size: 2vw;
        margin-top:20px ;
     }
      
     .social-media{
        align-items: center;
        justify-content: center;
        margin-top : 20px  ;
        width: 100%;
        height: fit-content;
      

     }
     .social-media h2{
        font-size: 2vw;
        color:#fff;
       margin-top: 20px;
        width: 100%;
        text-decoration: underline;

     }
     .na-whatsapp {
        background: transparent;
        color: cyan;
        margin-top: 20px ;
        margin-left: 1vw;

      }
      
      .na-instagram {
        background: transparent;
        color: cyan;
        margin-top: 20px ;
        
    
      }
      .na-facebook {
        background: transparent;
        color: cyan;
        margin-top: 20px ;

      }

       .right{
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy3iHr3mVTrGZ0q3S0iLA2P-_7bO03NOFqXQ&usqp=CAU");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height:45.5vh;
       
        float: right;
       }